<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <div style="margin: 0; padding: 0;">
      <table
        style="
          border-collapse: collapse;
          table-layout: fixed;
          min-width: 320px;
          width: 100%;
          background-color: #ededf1;
        "
        cellpadding="0"
        cellspacing="0"
      >
        <tbody>
          <tr>
            <td>
              <div>
                <div
                  style="
                    margin: 0 auto;
                    max-width: 560px;
                    min-width: 280px;
                    width: 280px;
                    width: calc(28000% - 167440px);
                  "
                >
                  <div
                    style="
                      border-collapse: collapse;
                      display: table;
                      width: 100%;
                    "
                  >
                    <div
                      style="
                        display: table-cell;
                        float: left;
                        font-size: 12px;
                        line-height: 19px;
                        max-width: 280px;
                        min-width: 140px;
                        width: 140px;
                        width: calc(14000% - 78120px);
                        padding: 10px 0 5px 0;
                        color: #7c7e7f;
                        font-family: Roboto, Tahoma, sans-serif;
                      "
                    ></div>

                    <div
                      style="
                        display: table-cell;
                        float: left;
                        font-size: 12px;
                        line-height: 19px;
                        max-width: 280px;
                        min-width: 139px;
                        width: 139px;
                        width: calc(14100% - 78680px);
                        padding: 10px 0 5px 0;
                        text-align: right;
                        color: #7c7e7f;
                        font-family: Roboto, Tahoma, sans-serif;
                      "
                    ></div>
                  </div>
                </div>
                <div
                  style="
                    margin: 0 auto;
                    max-width: 600px;
                    min-width: 320px;
                    width: 320px;
                    width: calc(28000% - 167400px);
                  "
                  id="m_-5219893983138604506m_1924338366788423622m_5002930006314448257m_-780307781911811402m_2821955904315763587m_-7941857814403682896m_-6529366037140622692m_-6942176273913498097m_-436981080516952474m_-4861352188697787343m_-352596558126202739m_7924958438556458307emb-email-header-container"
                >
                  <div
                    style="
                      font-size: 26px;
                      line-height: 32px;
                      margin-top: 0px;
                      margin-bottom: 0px;
                      color: #c3ced9;
                      font-family: Roboto, Tahoma, sans-serif;
                    "
                    align="center"
                  >
                    <div
                      align="center"
                      id="m_-5219893983138604506m_1924338366788423622m_5002930006314448257m_-780307781911811402m_2821955904315763587m_-7941857814403682896m_-6529366037140622692m_-6942176273913498097m_-436981080516952474m_-4861352188697787343m_-352596558126202739m_7924958438556458307emb-email-header"
                    >
                      <img
                        style="
                          display: block;
                          height: auto;
                          width: 100%;
                          border: 0;
                          max-width: 600px;
                        "
                        src="https://ci3.googleusercontent.com/proxy/yL2DgrqsC6jwJcMyIpm1fm6meDUKN318Gj4kjmgyNZCnfmlo2z1OKam0b3ZRxKl8v-BPGK0NFzytbypei8ZxNlVeDlX-ko8st9iz2C3rt5xf4O77e7kzmrx0o8e7aQ=s0-d-e1-ft#http://i1.cmail19.com/ei/t/27/C49/EDA/063836/csfinal/header_invite_mail.png"
                        alt=""
                        width="600"
                        class="CToWUd"
                      />
                    </div>
                  </div>
                </div>
              </div>
              <div>
                <div
                  style="
                    margin: 0 auto;
                    max-width: 600px;
                    min-width: 320px;
                    width: 320px;
                    width: calc(28000% - 167400px);
                    word-wrap: break-word;
                    word-break: break-word;
                  "
                >
                  <div
                    style="
                      border-collapse: collapse;
                      display: table;
                      width: 100%;
                      background-color: #ffffff;
                    "
                  >
                    <div
                      style="
                        text-align: left;
                        color: #7c7e7f;
                        font-size: 14px;
                        line-height: 21px;
                        font-family: PT Serif, Georgia, serif;
                      "
                    >
                      <div style="margin-left: 20px; margin-right: 20px;">
                        <div style="vertical-align: middle;">
                          <p
                            style="
                              margin-top: 0;
                              margin-bottom: 0;
                              font-family: sans-serif;
                              font-size: 15px;
                              line-height: 23px;
                              text-align: left;
                            "
                            lang="x-size-15"
                          >
                            <span
                              ><span style="color: #7c7e7f;"
                                >Respected {{mailToName}},<br /></span
                            ></span>
                          </p>
                          <p
                            style="
                              margin-top: 20px;
                              margin-bottom: 0;
                              font-family: sans-serif;
                              font-size: 15px;
                              line-height: 23px;
                              text-align: left;
                            "
                            lang="x-size-15"
                          >
                            <span
                              ><span style="color: #7c7e7f;"
                                >This is {{mailTypePlaceholder}} regarding campus
                                recruitment and internships by your esteemed
                                organisation.</span
                              ></span
                            >
                          </p>
                          <p
                            style="
                              margin-top: 20px;
                              margin-bottom: 20px;
                              font-family: sans-serif;
                              font-size: 15px;
                              line-height: 23px;
                              text-align: left;
                            "
                            lang="x-size-15"
                          >
                            <span
                              ><span style="color: #7c7e7f;"
                                >It is my pleasure to invite
                                <strong>{{mailToCompany}}&nbsp;</strong> on behalf
                                of Shaheed Sukhdev&nbsp;College of Business
                                Studies to be a part of our&nbsp;Placement
                                Season 2020-21.</span
                              ></span
                            >
                          </p>
                        </div>
                      </div>

                      <div
                        style="
                          font-size: 12px;
                          font-style: normal;
                          font-weight: normal;
                          line-height: 19px;
                        "
                        align="center"
                      >
                        <img
                          style="
                            border: 0;
                            display: block;
                            height: auto;
                            width: 100%;
                            max-width: 174px;
                          "
                          alt=""
                          width="174"
                          src="https://ci5.googleusercontent.com/proxy/GnUmBOzFqDg7cnUgey4StlCAK7jwGbjdDVIRXJ_2h9MtD2FG_fUXO3GodDOrxs6jlPC6wmH11KBdNasKEvM68Ig_cDIMtilPci_shn3MS563FwFe9A_HojgbMk-IJY16QLaS47s=s0-d-e1-ft#http://i1.cmail19.com/ei/t/27/C49/EDA/063836/csfinal/divider3-99051406db01453c.png"
                          class="CToWUd"
                        />
                      </div>

                      <div
                        style="
                          margin-left: 20px;
                          margin-right: 20px;
                          margin-top: 20px;
                        "
                      >
                        <div style="vertical-align: middle;">
                          <p
                            style="
                              margin-top: 0;
                              margin-bottom: 0;
                              font-size: 17px;
                              line-height: 26px;
                              text-align: center;
                            "
                            lang="x-size-18"
                          >
                            <span style="color: #94262e;"
                              >• ABOUT SSCBS&nbsp;•</span
                            >
                          </p>
                          <p
                            style="
                              margin-top: 20px;
                              margin-bottom: 20px;
                              font-family: sans-serif;
                              font-size: 15px;
                              line-height: 23px;
                            "
                            lang="x-size-15"
                          >
                            <span
                              ><span style="color: #7c7e7f;"
                                >Shaheed Sukhdev College of Business Studies
                                (SSCBS) is a premier institution under the aegis
                                of University of Delhi, imparting education in
                                the fields of management and computer science
                                with excellence and vision. It offers Bachelor
                                of Management Studies (BMS), BBA (Financial
                                Investment Analysis) and B.Sc. (H) Computer
                                Science programmes; all Honours level degree
                                courses of the University of Delhi.</span
                              ></span
                            >
                          </p>
                        </div>
                      </div>

                      <div style="margin-left: 20px; margin-right: 20px;">
                        <div style="vertical-align: middle;">
                          <p
                            style="
                              margin-top: 0;
                              margin-bottom: 20px;
                              font-family: sans-serif;
                              font-size: 15px;
                              line-height: 23px;
                            "
                            lang="x-size-15"
                          >
                            <span
                              ><span style="color: #7c7e7f;"
                                >SSCBS has been ranked as the&nbsp;<strong
                                  >Best Undergraduate Business School&nbsp;in
                                  India </strong
                                >under&nbsp;the&nbsp;<strong
                                  >India Today Rankings 2020</strong
                                >. It has proven its competence at national and
                                international platforms such as
                                <strong
                                  >Harvard Global Case Study Competition </strong
                                >(First Position)<strong>, BrAIN Wars </strong
                                >(PPIs to 10 students)<strong
                                  >, EY Corporate Finance Woman of the Year </strong
                                >(Global Finals) to name a few.</span
                              ></span
                            >
                          </p>
                        </div>
                      </div>

                      <div
                        style="
                          font-size: 12px;
                          font-style: normal;
                          font-weight: normal;
                          line-height: 19px;
                        "
                        align="center"
                      >
                        <img
                          style="
                            border: 0;
                            display: block;
                            height: auto;
                            width: 100%;
                            max-width: 174px;
                          "
                          alt=""
                          width="174"
                          src="https://ci4.googleusercontent.com/proxy/RpSoHWm3-x5aGzP3pgWpKUC_gY-D624Bgl6zT83UQrykmhSrdQQb-Nn4MSY8o_C_rGc2pqdj_5TCwFx9Ob5iDrkT5VmgfOKQWqDF00gB8G-NwvGxWAe6D32KWfBD-TcJpsFoxCl4=s0-d-e1-ft#http://i2.cmail19.com/ei/t/27/C49/EDA/063836/csfinal/divider31-99051406db01453c.png"
                          class="CToWUd"
                        />
                      </div>

                      <div
                        style="
                          margin-left: 20px;
                          margin-right: 20px;
                          margin-top: 20px;
                        "
                      >
                        <div style="vertical-align: middle;">
                          <h2
                            style="
                              margin-top: 0;
                              margin-bottom: 16px;
                              font-style: normal;
                              font-weight: normal;
                              color: #3e4751;
                              font-size: 17px;
                              line-height: 26px;
                              font-family: pt serif, georgia, serif;
                              text-align: center;
                            "
                            lang="x-size-18"
                          >
                            <span
                              ><span style="color: #94262e;"
                                >• KNOW MORE ABOUT SSCBS&nbsp;•</span
                              ></span
                            >
                          </h2>
                        </div>
                      </div>

                      <div style="margin-left: 20px; margin-right: 20px;">
                        <div style="vertical-align: middle;">
                          <p
                            style="
                              text-align: center;
                              margin-top: 0;
                              margin-bottom: 20px;
                              font-family: sans-serif;
                              font-size: 15px;
                              line-height: 23px;
                            "
                            lang="x-size-15"
                          >
                            <span
                              >Please find the other relevant information about
                              us by clicking the buttons below:&nbsp;</span
                            >
                          </p>
                        </div>
                      </div>

                      <div style="margin-left: 20px; margin-right: 20px;">
                        <div style="line-height: 2px; font-size: 1px;">
                          &nbsp;
                        </div>
                      </div>
                    </div>
                  </div>
                </div>

                <div
                  style="
                    margin: 0 auto;
                    max-width: 600px;
                    min-width: 320px;
                    width: 320px;
                    width: calc(28000% - 167400px);
                    word-wrap: break-word;
                    word-break: break-word;
                  "
                >
                  <div
                    style="
                      border-collapse: collapse;
                      display: table;
                      width: 100%;
                      background-color: #ffffff;
                    "
                  >
                    <div
                      style="
                        margin-bottom: 5px;
                        text-align: left;
                        color: #7c7e7f;
                        font-size: 14px;
                        line-height: 21px;
                        font-family: PT Serif, Georgia, serif;
                        max-width: 320px;
                        min-width: 200px;
                        width: 320px;
                        width: calc(72200px - 12000%);
                        float: left;
                      "
                    >
                      <div style="margin-left: 20px; margin-right: 0px;">
                        <div style="text-align: center;">
                          <u></u
                          ><a
                            style="
                              border-radius: 4px;
                              display: inline-block;
                              font-size: 11px;
                              font-weight: bold;
                              line-height: 19px;
                              padding: 6px 12px 7px 12px;
                              text-align: center;
                              text-decoration: none !important;
                              color: #ffffff !important;
                              background-color: #94262e;
                              font-family: sans-serif;
                            "
                            href="https://sscbs.cmail19.com/t/t-i-pdrgyd-l-r/"
                            target="_blank"
                            data-saferedirecturl="https://www.google.com/url?q=https://sscbs.cmail19.com/t/t-i-pdrgyd-l-r/&amp;source=gmail&amp;ust=1595543354680000&amp;usg=AFQjCNHAsPhFfFxNi3BRtHqRLVZIrDEAmg"
                            >PLACEMENT&nbsp;BROCHURE</a
                          ><u></u>
                        </div>
                      </div>
                    </div>

                    <div
                      style="
                        margin-bottom: 5px;
                        text-align: left;
                        color: #7c7e7f;
                        font-size: 14px;
                        line-height: 21px;
                        font-family: PT Serif, Georgia, serif;
                        max-width: 320px;
                        min-width: 200px;
                        width: 320px;
                        width: calc(72200px - 12000%);
                        float: left;
                      "
                    >
                      <div style="margin-left: 20px; margin-right: 0px;">
                        <div style="text-align: center;">
                          <u></u
                          ><a
                            style="
                              border-radius: 4px;
                              display: inline-block;
                              font-size: 11px;
                              font-weight: bold;
                              line-height: 19px;
                              padding: 6px 12px 7px 12px;
                              text-align: center;
                              text-decoration: none !important;
                              color: #ffffff !important;
                              background-color: #94262e;
                              font-family: sans-serif;
                            "
                            href="https://sscbs.cmail19.com/t/t-i-pdrgyd-l-y/"
                            target="_blank"
                            data-saferedirecturl="https://www.google.com/url?q=https://sscbs.cmail19.com/t/t-i-pdrgyd-l-y/&amp;source=gmail&amp;ust=1595543354680000&amp;usg=AFQjCNGxzUGC_aV65Bpz0cXDtewHLyNuzQ"
                            >COURSE STRUCTURE</a
                          ><u></u>
                        </div>
                      </div>
                    </div>

                    <div
                      style="
                        margin-bottom: 5px;
                        text-align: left;
                        color: #7c7e7f;
                        font-size: 14px;
                        line-height: 21px;
                        font-family: PT Serif, Georgia, serif;
                        max-width: 320px;
                        min-width: 200px;
                        width: 320px;
                        width: calc(72200px - 12000%);
                        float: left;
                      "
                    >
                      <div style="margin-left: 20px; margin-right: 0px;">
                        <div style="text-align: center;">
                          <u></u
                          ><a
                            style="
                              border-radius: 4px;
                              display: inline-block;
                              font-size: 11px;
                              font-weight: bold;
                              line-height: 19px;
                              padding: 6px 12px 7px 12px;
                              text-align: center;
                              text-decoration: none !important;
                              color: #ffffff !important;
                              background-color: #94262e;
                              font-family: sans-serif;
                            "
                            href="https://sscbsdu.ac.in/"
                            target="_blank"
                            data-saferedirecturl="https://www.google.com/url?q=https://sscbsdu.ac.in/&amp;source=gmail&amp;ust=1595543354680000&amp;usg=AFQjCNHtPDbJxkRA79PPx7Iads08c_LFJA"
                            >COLLEGE WEBSITE</a
                          ><u></u>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>

                <div
                  style="
                    margin: 0 auto;
                    max-width: 600px;
                    min-width: 320px;
                    width: 320px;
                    width: calc(28000% - 167400px);
                    word-wrap: break-word;
                    word-break: break-word;
                  "
                >
                  <div
                    style="
                      border-collapse: collapse;
                      display: table;
                      width: 100%;
                      background-color: #ffffff;
                    "
                  >
                    <div
                      style="
                        text-align: left;
                        color: #7c7e7f;
                        font-size: 14px;
                        line-height: 21px;
                        font-family: PT Serif, Georgia, serif;
                      "
                    >
                      <div style="margin-left: 20px; margin-right: 20px;">
                        <div style="line-height: 20px; font-size: 1px;">
                          &nbsp;
                        </div>
                      </div>

                      <div
                        style="
                          font-size: 12px;
                          font-style: normal;
                          font-weight: normal;
                          line-height: 19px;
                        "
                        align="center"
                      >
                        <img
                          style="
                            border: 0;
                            display: block;
                            height: auto;
                            width: 100%;
                            max-width: 174px;
                          "
                          alt=""
                          width="174"
                          src="https://ci5.googleusercontent.com/proxy/DCy6p5Imbm3SWtpG_DPFCl8FUqP4_OhGWCSXREjXHcCHCKlmdIqH5Nd2ApyXNsGITPRb9VDBtKmVlH0oIIdJK7uGHf7jmm9HWIPafUn3owkNsvt2AiMTpiMDWTRF8M1TXD72ZUtH=s0-d-e1-ft#http://i3.cmail19.com/ei/t/27/C49/EDA/063836/csfinal/divider32-99051406db01453c.png"
                          class="CToWUd"
                        />
                      </div>

                      <div
                        style="
                          margin-left: 20px;
                          margin-right: 20px;
                          margin-top: 20px;
                        "
                      >
                        <div style="vertical-align: middle;">
                          <h2
                            style="
                              margin-top: 0;
                              margin-bottom: 0;
                              font-style: normal;
                              font-weight: normal;
                              color: #3e4751;
                              font-size: 17px;
                              line-height: 26px;
                              font-family: pt serif, georgia, serif;
                              text-align: center;
                            "
                            lang="x-size-18"
                          >
                            <span
                              ><span style="color: #94262e;"
                                >• PLACEMENT SEASON
                                2019-20&nbsp;HIGHLIGHTS&nbsp;•</span
                              ></span
                            >
                          </h2>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>

                <div
                  style="
                    margin: 0 auto;
                    max-width: 600px;
                    min-width: 320px;
                    width: 320px;
                    width: calc(28000% - 167400px);
                    word-wrap: break-word;
                    word-break: break-word;
                  "
                >
                  <div
                    style="
                      border-collapse: collapse;
                      display: table;
                      width: 100%;
                      background-color: #ffffff;
                    "
                  >
                    <div
                      style="
                        text-align: left;
                        color: #7c7e7f;
                        font-size: 14px;
                        line-height: 21px;
                        font-family: PT Serif, Georgia, serif;
                      "
                    >
                      <div
                        style="
                          font-size: 12px;
                          font-style: normal;
                          font-weight: normal;
                          line-height: 19px;
                        "
                        align="center"
                      >
                        <img
                          style="
                            border: 0;
                            display: block;
                            height: auto;
                            width: 100%;
                            max-width: 900px;
                          "
                          alt=""
                          width="600"
                          src="https://ci3.googleusercontent.com/proxy/KaNV0AB-dY8AAwquCkaLBVSQRKrrrwLa2aNX07s-OBihfrwhLKLJMOwkIbpwgREBSpgYmoaBAcV-qTDximlS0-NiaPKGGnvhzH1WwjXeJOZt5_0vudfijighPG8xOHLc_dfK7HQ=s0-d-e1-ft#http://i4.cmail20.com/ei/t/27/C49/EDA/223325/csfinal/igggggg1-9900000000079e3c.png"
                          class="CToWUd a6T"
                          tabindex="0"
                        />
                        <div
                          class="a6S"
                          dir="ltr"
                          style="opacity: 0.01; left: 554px; top: 1241.8px;"
                        >
                          <div
                            id=":1ji"
                            class="T-I J-J5-Ji aQv T-I-ax7 L3 a5q"
                            title="Download"
                            role="button"
                            tabindex="0"
                            aria-label="Download attachment "
                            data-tooltip-class="a1V"
                          >
                            <div class="aSK J-J5-Ji aYr"></div>
                          </div>
                        </div>
                      </div>

                      <div
                        style="
                          margin-left: 20px;
                          margin-right: 20px;
                          margin-top: 20px;
                        "
                      >
                        <div style="vertical-align: middle;">
                          <p
                            style="
                              margin-top: 0;
                              margin-bottom: 0;
                              font-family: sans-serif;
                              font-size: 15px;
                              line-height: 23px;
                            "
                            lang="x-size-15"
                          >
                            <span
                              >Kindly share the&nbsp;<strong
                                >job description&nbsp;</strong
                              >and&nbsp;<strong
                                >compensation details&nbsp;</strong
                              >at your earliest convenience so that we can take
                              the process forward. Looking forward to a positive
                              response.</span
                            >
                          </p>
                          <p
                            style="
                              margin-top: 20px;
                              margin-bottom: 0;
                              font-family: sans-serif;
                              font-size: 15px;
                              line-height: 23px;
                            "
                            lang="x-size-15"
                          >
                            <span
                              >Please feel free to contact me in case of any
                              queries.</span
                            >
                          </p>
                          <p
                            style="
                              margin-top: 20px;
                              margin-bottom: 0;
                              font-family: sans-serif;
                              font-size: 15px;
                              line-height: 23px;
                            "
                            lang="x-size-15"
                          >
                            <span>Warm Regards,</span>
                          </p>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>

                <div
                  style="
                    margin: 0 auto;
                    max-width: 600px;
                    min-width: 320px;
                    width: 320px;
                    width: calc(28000% - 167400px);
                    word-wrap: break-word;
                    word-break: break-word;
                  "
                  dir="rtl"
                >
                  <div
                    style="
                      padding-bottom: 5px;
                      border-collapse: collapse;
                      display: table;
                      width: 100%;
                      background-color: #ffffff;
                    "
                  >
                    <div
                      style="
                        padding-bottom: 30px;
                        text-align: left;
                        color: #7c7e7f;
                        font-size: 14px;
                        line-height: 21px;
                        font-family: PT Serif, Georgia, serif;
                        max-width: 320px;
                        min-width: 300px;
                        width: 320px;
                        width: calc(12300px - 2000%);
                        float: right;
                      "
                      dir="ltr"
                    >
                      <div style="margin-left: 20px; margin-right: 20px;">
                        <div style="vertical-align: middle;">
                          <p
                            style="
                              margin-top: 0;
                              margin-bottom: 0;
                              font-family: sans-serif;
                              font-size: 15px;
                              line-height: 23px;
                            "
                            lang="x-size-15"
                          >
                            <span
                              ><strong>{{PoCName}}</strong><br />
                              <em
                                >Student Placement Coordinator<br />
                                <em>Career Development Centre</em>&nbsp;</em
                              ><br />
                              <strong
                                >Shaheed Sukhdev College of Business
                                Studies</strong
                              ><br />
                              <strong>University of Delhi</strong><br />
                              <strong>(M)</strong>: +91 {{phoneNumber}}<br />
                              <strong>(E)</strong>:
                              <a
                                style="
                                  text-decoration: underline;
                                  color: #4eaacc;
                                "
                                ><span style="color: #f50e1e;"
                                  >{{mailAddress}}</span
                                ></a
                              ></span
                            >
                          </p>
                        </div>
                      </div>
                    </div>

                    <div
                      style="
                        text-align: left;
                        color: #7c7e7f;
                        font-size: 14px;
                        line-height: 21px;
                        font-family: PT Serif, Georgia, serif;
                        max-width: 320px;
                        min-width: 300px;
                        width: 320px;
                        width: calc(12300px - 2000%);
                        float: right;
                      "
                      dir="ltr"
                    >
                      <div style="margin-left: 20px; margin-right: 20px;">
                        <div
                          style="
                            font-size: 12px;
                            font-style: normal;
                            font-weight: normal;
                            line-height: 19px;
                          "
                          align="center"
                        >
                          <img
                            style="
                              border: 0;
                              display: block;
                              height: auto;
                              width: 100%;
                              max-width: 480px;
                            "
                            alt=""
                            width="260"
                            src="https://ci6.googleusercontent.com/proxy/yaBImWcjkXWulkpABZj0A5D7ckThZXaLU5l5iStZOf4-oTbd93NQAIhyjfEYfmykH_4HMBFiSX217eyXVdSKF9PEARl-VjaFv46TNcJ48Mr8eYW0CcCc7x_CdbZAI2z49LA5Xg=s0-d-e1-ft#http://i5.cmail19.com/ei/t/27/C49/EDA/063836/csfinal/unnamed-990000079e028a3c.jpg"
                            class="CToWUd a6T"
                            tabindex="0"
                          />
                          <div
                            class="a6S"
                            dir="ltr"
                            style="opacity: 0.01; left: 234px; top: 1596.2px;"
                          >
                            <div
                              id=":1jh"
                              class="T-I J-J5-Ji aQv T-I-ax7 L3 a5q"
                              title="Download"
                              role="button"
                              tabindex="0"
                              aria-label="Download attachment "
                              data-tooltip-class="a1V"
                            >
                              <div class="aSK J-J5-Ji aYr"></div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div style="line-height: 40px; font-size: 40px;">&nbsp;</div>
              </div>
            </td>
          </tr>
        </tbody>
      </table>
      <img
        style="
          overflow: hidden;
          display: block !important;
          height: 1px !important;
          width: 1px !important;
          border: 0 !important;
          margin: 0 !important;
          padding: 0 !important;
        "
        src="https://ci4.googleusercontent.com/proxy/spnN4Ua0iQfyA_MffuQJnWkn-bhyjjHaO8rmXFPPBihlGSQXk0897zicQ9uDxcjcCyfCqFy1EqLUuVOOyWpxvT4=s0-d-e1-ft#https://sscbs.cmail19.com/t/t-o-pdrgyd-l/o.gif"
        width="1"
        height="1"
        border="0"
        alt=""
        class="CToWUd"
      />
      <div class="yj6qo"></div>
      <div class="adL"></div>
    </div>
  </body>
</html>
